<div class="container">
    <div class="row d-flex justify-content-between">
        <img style="width: 50%;" class="img-fluid col-sm-12 mx-auto" src="https://media.istockphoto.com/vectors/congratulations-card-with-light-rays-vector-id960999328?k=20&m=960999328&s=612x612&w=0&h=astL9J46lO0fTOAvyj0zoGqNu8ZSH4gRBZRVm4YVlXY=" alt="">
        <div class="finish text-center col-md-6 col-sm-12"><br><br><br><br><br><br><br><br><br>
            <h3 style="color:blueviolet;">Congratulations!!<br></h3><br>
            <h3 style="color:orangered;">You have sucessfully completed all the Tests.</h3>
            <p>Please close the window to successfully submit test.</p>
        </div>
    </div>
</div>
