 <div class="container" style="border-color: darkblue;">
 <br><h5 style="text-align:center;font-family: cursive;color:blueviolet;" >Welcome {{username}}</h5>
<hr><br>
 <p align="center"><button class="btn btn-primary btn-lg" routerLink="/angular"> Take Angular Test  </button></p><br>


 <p align="center"><button class="btn btn-primary btn-lg" style="align-self:flex-end;" routerLink="/html"> Take HTML Test </button></p><br>


 <p align="center"> <button class="btn btn-primary btn-lg" routerLink="/java"> Take Java Test </button></p><br>


 <p align="center"><button class="btn btn-primary btn-lg" routerLink="/javascript">Take JavaScript Test</button></p>

 <hr>
</div>

<!-- <p align="center"><button class="btn btn-primary btn-lg" routerLink="/end">Finish Test</button></p>-->


