<div class="container mt-5">
    <div class="card">
        <div class="d-flex justify-content-between p-3">
        <div class="image">
            <img style="border-radius: 100%;" height="100" width="200" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWVFLyptdTrgO5UogtGCC8Ig-PQlxoOVFQvw&usqp=CAU">
        </div>
        <div class="test-header">
            <h4 style="font-family: cursive;">HTML Test</h4>
            <h5 style="text-align:center;font-family: cursive;color:blueviolet;" >Welcome {{username}}</h5>
        </div>
        </div>
<ng-container *ngIf="!isHtmlCompleted">
    <div class="d-flex justify-content-around py-3">
        <div class="score">
            <h3>{{marks}} Mark</h3>
        </div>
        <div class="question-remain">
            <span style="font-style: italic;">Question {{currentQuestion+1}} of {{htmlList.length}}</span>
        </div>
        <div class="timer">
            <h5>{{counter}} sec 🕑</h5>
        </div>
    </div>    
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [ngStyle]="{'width':progress+'%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
            </div>
          </div>
          <div class="question">
              <div class="card"><h4>{{htmlList[currentQuestion]?.questionText}}</h4></div>
          </div>
          <div class="options">
              <ol *ngFor="let option of htmlList[currentQuestion]?.options">
                  <li (click)="answer(currentQuestion+1,option)">
                      <div appChangeBg [isCorrect]="option.correct" class="card">
                          {{option.text}}
                      </div>
                 
                </li>
              </ol>
          </div>
          <div class="d-flex justify-content-between">
              <button  [disabled]="currentQuestion===0" class="btn" (click)="previousQuestion()"><i class="fa text-primary fa-chevron-left fa-3x" aria-hidden="true"></i></button>
              <button class="btn" (click)="resetQuiz()"><i class="fa text-primary fa-refresh fa-3x" aria-hidden="true"></i></button>
              <button [disabled]="currentQuestion==htmlList.length-1" class="btn" (click)="nextQuestion()"><i class="fa text-primary fa-chevron-right fa-3x" aria-hidden="true"></i></button>
          </div>
</ng-container>
<ng-container *ngIf="isHtmlCompleted">
    <div class="row d-flex justify-content-between">
        <img style="width: 50%;" class="img-fluid col-sm-12 mx-auto" src="https://media.istockphoto.com/vectors/congratulations-card-with-light-rays-vector-id960999328?k=20&m=960999328&s=612x612&w=0&h=astL9J46lO0fTOAvyj0zoGqNu8ZSH4gRBZRVm4YVlXY=" alt="">
        <div class="result text-center col-md-6 col-sm-12">
            <h3>Congratulations!!<br><br>You have completed the Angular Test.<br><br>Below is Your result:</h3>
            <p>Total Questions Attempted : {{htmlList.length}}</p>
            <p>Total Correct Answers: {{correctAnswer}}</p>
            <p>Total wrong Answered: {{incorrectAnswer}}</p>
            <p>Your Score: {{marks}} Marks</p>
            <button class="btn btn-primary btn-lg"  routerLink="/java">Next Test</button>
        </div>
    </div>
</ng-container>
        </div>
    </div>